<div class="container DecalageContainerMenu">
  <div class="row">
    <div class="col-md-2">
      <img src="assets/images/image1.png" alt="" title="" />
    </div>
    <div class="col-md-5">
      <p class="UpperTitreMenu">
      BONJOUR <i><u><strong>{{ data }}</strong></u></i>, ET BIENVENUE SUR ANIMAKIDS !!
      </p>
      <p class="UpperParagraphMenu">
      Le but du jeu est très simple, en apprendre plus sur nos amis les animaux.
      Tu dispose de deux modes de jeu.
      Dans le premier tu devras reconnaitre les animaux en fonction de leurs apparences.
      Dans le deuxième, tu devras faire de même mais en t'aidant seulement de leurs cris.
      Attention, pour plus de difficulté, les noms des animaux sont en anglais.
      Bonne chance à toi !!!!
      </p>
      <button routerLink="/dashboard/jeu1" type="submit" class="inputButtonMenu">Mode de jeu 1</button>
      <button routerLink="/dashboard/jeu2" type="submit" class="inputButtonMenu">Mode de jeu 2</button>
    </div>
    <div class="col-md-2">
      <img src="assets/images/image2.png" alt="" title="" />
    </div>
  </div>
</div>
