<div class="container DecalageContainerMenu">
  <p class="UpperTitreMenu">
    BONJOUR ET BIENVENUE SUR ANIMAKIDS JOUEUR !!
  </p>
  <p class="UpperParagraphMenu">
    Le but du jeu est trés simple, en apprendre plus sur nos amis les animaux.
    Tu dispose de deux modes de jeux.
    Dans le premier tu devras reconnaitre les animaux en fonction de leur apparences.
    Dans le deuxieme, tu dervas faut de même mais en t'aidant seulement de leurs cris.
    Bonne chance à toi !!!!
  </p>
  <button routerLink="/dashboard/jeu1" type="submit" class="inputButtonLoginCreate">Mode de jeu 1</button>
  <button routerLink="/dashboard/jeu2" type="submit" class="inputButtonLoginCreate">Mode de jeu 2</button>
</div>
