<div class="container DecalageContainerMenu">

    <div class="col-1 col-md-auto">
  <img src="assets/images/chienchat.png" alt="" title="" />
</div>
<div class="col-2 col-xl">
  <p class="UpperTitreMenu">
    BONJOUR ET BIENVENUE SUR ANIMAKIDS JOUEUR !!
  </p>
  <p class="UpperParagraphMenu">
    Le but du jeu est très simple, en apprendre plus sur nos amis les animaux.
    Tu dispose de deux modes de jeu.
    Dans le premier tu devras reconnaitre les animaux en fonction de leurs apparences.
    Dans le deuxième, tu devras faire de même mais en t'aidant seulement de leurs cris.
    Bonne chance à toi !!!!
  </p>
  <button routerLink="/dashboard/jeu1" type="submit" class="inputButtonLoginCreate">Mode de jeu 1</button>
  <button routerLink="/dashboard/jeu2" type="submit" class="inputButtonLoginCreate">Mode de jeu 2</button>
</div>

</div>
