<div class="container DecalageContainerJeu1">
  <div class="row">
    <div class="col-md-12" style="text-align:center">
      <img id="imagejeu1" src="assets/images/elephant.jpg" alt="" title="" height="250" width="250"/>
      <button routerLink="" type="submit" class="inputButtonJeu1">Réponse 1</button>
      <button routerLink="" type="submit" class="inputButtonJeu1">Réponse 2</button>
      <button routerLink="" type="submit" class="inputButtonJeu1">Réponse 3</button>
      <button routerLink="" type="submit" class="inputButtonJeu1">Réponse 4</button>
    </div>
  </div>
</div>
