<div class="container decalageContainerJeu1">
<div ng-app="MyApp" class="row">
    <div ng-controller="myController" class="col-md-12" style="text-align:center">
      <img id="imagejeu1" src="{{imageUrl}}" alt="" title="" height="250" width="250"/>
      <button on-click="changeUrl()" class="inputButtonJeu1">Réponse 1</button>
      <button on-click="changeUrl()" class="inputButtonJeu1">Réponse 2</button>
      <button on-click="changeUrl()" class="inputButtonJeu1">Réponse 3</button>
      <button on-click="changeUrl()" class="inputButtonJeu1">Réponse 4</button>
    </div>
  </div>
</div>
