<div class="container">
  <div class="row">
    <nav class="navbar-expand-md navbar-dark bg-dark fixed-bottom LayoutFooterNav">
      <div class="container LayoutFooterFbTw">
        <a class="aLayoutLienFb" href="https://www.facebook.com/Animakids-1659443994091877/" target="_blank"><i class="fa fa-facebook fa-2x iLayoutIcone"></i> Facebook</a>
        <a class="aLayoutLienFb" href="https://twitter.com/AnimaKidsWeb" target="_blank"><i class="fa fa-twitter fa-2x iLayoutIcone"></i> Twitter</a>
      </div>
    </nav>
  </div>
</div>
